<ng-container *ngIf="qs.quiz$ | async as lobby">
  <ng-container *ngIf="lobby.creator !== userId">
    <ng-container *ngIf="lobby.status === 'inGame' ? takeQuiz(lobby) : ''">
    </ng-container>
  </ng-container>
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="lobby.creator === userId">
        {{ lobby.title }} Quiz
      </ion-title>
      <ion-title *ngIf="lobby.creator !== userId">
        {{ lobby.title }} Lobby
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row *ngIf="lobby.creator === userId">
        <ion-col>
          <app-question-reorder-list [questionIds]="lobby.qids">
          </app-question-reorder-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-list-header> Trivia Enthusiats </ion-list-header>
            <div *ngFor="let userId of lobby.uids">
              <app-user-item [userId]="userId"></app-user-item>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="primary" *ngIf="lobby.creator === userId">
        <ion-button
          expand="block"
          size="large"
          color="primary"
          (click)="startQuiz(lobby)"
        >
          Start Quiz
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="secondary">
        <ion-button expand="block" (click)="leaveLobby(lobby)">
          Exit Lobby
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ng-container>
