<ng-container *ngIf="(qs.quiz$.data | async) as lobby">
  <ion-content>
    <ion-grid>
      <ion-item>
        <ion-title>{{ lobby.title }} Lobby</ion-title>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-list-header>Customize Question Order</ion-list-header>
            <ion-reorder-group
              (ionItemReorder)="reorderQuestions($event)"
              disabled="false"
            >
              <div *ngFor="let question of qs.quiz$.questions">
                <app-question-item
                  [questionId]="question.id"
                  [question$]="question.obs"
                ></app-question-item>
              </div>
            </ion-reorder-group>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="log(lobby)"> Log </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button expand="block" size="large" color="primary">
          Start Quiz
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="secondary">
        <ion-button
          expand="block"
          href="/tabs/lobbies"
          size="large"
          color="danger"
          (click)="deleteQuiz(lobby.id)"
        >
          Delete Lobby
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ng-container>
