<ion-content>
  <ion-grid>
    <ion-row *ngIf="!this.showspinner">
      <ion-col class="ion-text-center">
        <ion-button
          size="large"
          color="primary"
          routerDirection="forward"
          [routerLink]="['/tabs']"
          (click)="auth.anonymousLogin()"
        >
          Sign-In Anon
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="this.showspinner" class="ion-text-center">
      <ion-col>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!this.showspinner">
      <ion-col class="ion-text-center">
        <ion-button
          size="large"
          color="primary"
          routerDirection="forward"
          (click)="googleLogin()"
        >
          Sign-In Google
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
