<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center"> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button
          size="large"
          color="primary"
          routerDirection="forward"
          routerLink="/tabs"
          (click)="auth.anonymousLogin()"
        >
          Sign-In Anon
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button
          size="large"
          color="primary"
          routerDirection="forward"
          routerLink="/tabs"
          (click)="auth.googleLogin()"
        >
          Sign-In Google
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
