<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ng-container *ngIf="(this.user$ | async) as user; else login">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-item lines="none">
                <ion-card-title>
                  {{ user.displayName || "Guest User" }}
                </ion-card-title>
                <ion-thumbnail slot="start">
                  <img [src]="user.photoURL || 'assets/icon/anon.png'" />
                </ion-thumbnail>
              </ion-item>
            </ion-card-header>
            <ion-card-content>
              <ion-item lines="none">
                <ion-label> Username: </ion-label>
                <ion-item
                  lines="none"
                  detail="true"
                  detailIcon="create"
                  color="light"
                  (click)="presentUserNamePrompt(user)"
                >
                  <ion-label position="fixed">
                    {{ user.userName }}
                  </ion-label>
                </ion-item>
              </ion-item>
              <ion-item lines="none">
                <ion-label> Email: {{ user.email || "unknown" }} </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="!user.isAnonymous">
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-item>
              <ion-label>Wins</ion-label>
              <ion-label>
                {{ user.wins || "0" }}
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-item>
              <ion-label>Losses</ion-label>
              <ion-label>
                {{ user.losses || "0" }}
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-item>
              <ion-label>Correct</ion-label>
              <ion-label>
                {{ user.questionsCorrect || "0" }}
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-item>
              <ion-label>In-Correct</ion-label>
              <ion-label>
                {{ user.questionsWrong || "0" }}
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Games Created</ion-label>
              <ion-label class="ion-text-center">
                {{ user.lobbiesCreated || "0" }}
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ng-container>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button
            color="light"
            (click)="auth.signOut()"
            routerDirection="root"
            expand="block"
            color="tertiary"
          >
            Logout
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button
            expand="block"
            color="tertiary"
            (click)="consoleLog(user)"
          >
            Log
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-template #login>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-card-header>
              <ion-card-title>
                <ion-skeleton-text
                  animated
                  style="width:75%"
                ></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-skeleton-text animated style="width:50%"></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width:100%"
              ></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="auth.signOut()" expand="block">Back</ion-button>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>
