<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button
          color="light"
          (click)="auth.signOut()"
          routerDirection="root"
        >
          Logout
        </ion-button>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="(this.user | async) as user; else login">
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button color="tertiary" (click)="consoleLog(user)">
            Log
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-avatar>
              <img [src]="user.photoURL || 'assets/icon/anon.png'" />
            </ion-avatar>
            <ion-card-header>
              <ion-card-title>
                {{ user.displayName || "Guest User" }}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Guest: {{ user.isAnonymous }}
              <br />
              Email: {{ user.email || "unknown" }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-item>
            <ion-label>Wins</ion-label>
            <ion-label>
              {{ user.wins || "0" }}
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-item>
            <ion-label>Losses</ion-label>
            <ion-label>
              {{ user.losses || "0" }}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-item>
            <ion-label>Correct</ion-label>
            <ion-label>
              {{ user.questionsCorrect || "0" }}
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-item>
            <ion-label>In-Correct</ion-label>
            <ion-label>
              {{ user.questionsWrong || "0" }}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Games Created</ion-label>
            <ion-label class="ion-text-center">
              {{ user.lobbiesCreated || "0" }}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-template #login>
      <div class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </div>
    </ng-template>
  </ion-grid>
</ion-content>
